# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
market-ws

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Log files
logs/
*.log

# Data files
data/
*.json 